@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
.cities{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 30px;
    width: 100%;
}
.correo{
    position: relative;
    font-size: 10px;
    color: white;
    margin: 0;
    left: 800px;
    top: -68px;
}
.password{
    font-size: 10px;
    color: white;
    position: absolute;
    top: 20px;
    right: 250px;
}
.iniciar{
    font-size: 10px;
    color: white;
    position: absolute;
    top: 25px;
    right: 120px;
}
.titulo{
    position: relative;;
    left: 800px;
    top: -25px;
    font-size: 40px;
    color: grey;
}
.form{
    position: absolute;
    right: 170px;
    top: 13em;
}
.n1,.n2{
    position: relative;
    right: 1px;
    width: 170px;
    height: 30px;
}
.n1,.n2,.n3,.n4{
    border-radius: 5px;
}
.f1{
    position: absolute;
    right: 450px;
    top: 25%;
    color: grey;
}
.n3,.n4{
    position: relative;
    width: 368px;
    right: 0.1em;
    width: 370px;
    height: 30px;
}
.n4{
    position: relative;
    top: 10px;
}
.f2{
    position: absolute;
    right: 400px;
    top: 55%;
    color: gray;
}
.f3{
    position: absolute;
    right: 510px;
    top: 65%;
    color: gray;
}
.opciones{
    position: absolute;
    right: 482px;
    top: 62%;
}
.opciones2{
    position: absolute;
    right: 422px;
    top: 62%;
}
.opciones3{
    position: absolute;
    right: 362px;
    top: 62%;
}
.img{
    position: absolute;
    top: 40%;
    right: 700px;
}
.f4{
    position: absolute;
    top:25%;
    right: 770px;
    font-size: 15px;
    
}
footer{
    text-align: center;
    background-color: black;
    margin: 0;
    color:white;
}
.sex1{
    position: absolute;
    right: 485px;
    top: 73%;
}
.sex2{
    position: absolute;
    right: 400px;
    top: 73%;
}
.sex3{
    position: absolute;
    right: 270px;
    top: 73%;
}
.opc,.opc2,.opc3{
    border-radius: 5px;
    width: 60px;
    height: 30px;
}
.f5{
    font-size: 10px;
    position: absolute;
    right: 180px;
    top: 76%;
}